In [ ]:
#Import library
import pandas as pd
from google.colab import files

In [ ]:
# Load Dataset
df = pd.read_csv('/content/ECOMM DATA.xlsx - Orders.csv')
df.head()

,ROW ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Shipping Cost,Profit,Order Priority
0,26341,CA-2012-124891,31/7/2012,31/7/2012,Same Day,RH-19495,Rick Hansen,Consumer,New York City,New York,...,TEC-AC-10003033,Technology,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...,2309.650,7,0.0,933.57,762.1845,Critical
1,26341,IN-2013-77878,5/2/2013,7/2/2013,Second Class,JR-16210,Justin Ritter,Corporate,Wollongong,New South Wales,...,FUR-CH-10003950,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,923.63,-288.7650,Critical
2,25330,IN-2013-71249,17/10/2013,18/10/2013,First Class,CR-12730,Craig Reiter,Consumer,Brisbane,Queensland,...,TEC-PH-10004664,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175.171,9,0.1,915.49,919.9710,Medium
3,13524,ES-2013-1579342,28/1/2013,30/1/2013,First Class,KM-16375,Katherine Murray,Home Office,Berlin,Berlin,...,TEC-PH-10004583,Technology,Phones,"Motorola Smart Phone, Cordless",2892.510,5,0.1,910.16,-96.5400,Medium
4,47221,SG-2013-4320,5/11/2013,6/11/2013,Same Day,RH-9495,Rick Hansen,Consumer,Dakar,Dakar,...,TEC-SHA-10000501,Technology,Copiers,"Sharp Wireless Fax, High-Speed",2832.960,8,0.0,903.04,311.5200,Critical

In [ ]:
# Display summary information about the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ROW ID          51290 non-null  int64
 1   Order ID        51290 non-null  object
 2   Order Date      51290 non-null  object
 3   Ship Date       51290 non-null  object
 4   Ship Mode       51290 non-null  object
 5   Customer ID     51290 non-null  object
 6   Customer Name   51290 non-null  object
 7   Segment         51290 non-null  object
 8   City            51290 non-null  object
 9   State           51290 non-null  object
 10  Country         51290 non-null  object
 11  Market          51290 non-null  object
 12  Postal Code     9994 non-null   float64
 13  Region          51290 non-null  object
 14  Product ID      51290 non-null  object
 15  Category        51290 non-null  object
 16  Sub-Category    51290 non-null  object
 17  Product Name    51290 non-null  object
 18  Sales           51290 non-null  float64
 19  Quantity        51290 non-null  int64
 20  Discount        51290 non-null  float64
 21  Shipping Cost   51290 non-null  float64
 22  Profit          51290 non-null  float64
 23  Order Priority  51290 non-null  object
dtypes: float64(5), int64(2), object(17)
memory usage: 9.4+ MB

In [ ]:
# Display the number of rows and columns in the dataset
df.shape

(51290, 24)

In [ ]:
# Convert 'Order Date' and 'Ship Date' columns to datetime
df['Order Date'] = pd.to_datetime(df['Order Date'])
df['Ship Date'] = pd.to_datetime(df['Ship Date'])

/tmp/ipython-input-2064235872.py:2: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['Order Date'] = pd.to_datetime(df['Order Date'])
/tmp/ipython-input-2064235872.py:3: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['Ship Date'] = pd.to_datetime(df['Ship Date'])

In [ ]:
# Convert 'Ship Mode', 'Segment', 'City', 'State', 'Country', 'Market', 'Region', 'Category', 'Sub-Category', 'Order Priority' coloums to Category type
Coloums = ['Ship Mode', 'Segment', 'City', 'State', 'Country', 'Market', 'Region', 'Category', 'Sub-Category', 'Order Priority']

for kolom in Coloums:
    if kolom in df.columns:
        df[kolom] = df[kolom].astype('category')

In [ ]:
# Info about columns and data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ROW ID          51290 non-null  int64
 1   Order ID        51290 non-null  object
 2   Order Date      51290 non-null  datetime64[ns]
 3   Ship Date       51290 non-null  datetime64[ns]
 4   Ship Mode       51290 non-null  category
 5   Customer ID     51290 non-null  object
 6   Customer Name   51290 non-null  object
 7   Segment         51290 non-null  category
 8   City            51290 non-null  category
 9   State           51290 non-null  category
 10  Country         51290 non-null  category
 11  Market          51290 non-null  category
 12  Postal Code     9994 non-null   float64
 13  Region          51290 non-null  category
 14  Product ID      51290 non-null  object
 15  Category        51290 non-null  category
 16  Sub-Category    51290 non-null  category
 17  Product Name    51290 non-null  object
 18  Sales           51290 non-null  float64
 19  Quantity        51290 non-null  int64
 20  Discount        51290 non-null  float64
 21  Shipping Cost   51290 non-null  float64
 22  Profit          51290 non-null  float64
 23  Order Priority  51290 non-null  category
dtypes: category(10), datetime64[ns](2), float64(5), int64(2), object(5)
memory usage: 6.3+ MB

In [ ]:
# Summary statistics for numeric columns
df.describe()

,ROW ID,Order Date,Ship Date,Postal Code,Sales,Quantity,Discount,Shipping Cost,Profit
count,51290.000000,51290,51290,9994.000000,51290.000000,51290.000000,51290.000000,51290.000000,51290.000000
mean,25645.383857,2013-05-11 21:26:49.155781120,2013-05-15 20:42:42.745174528,55190.379428,246.490581,3.476545,0.142908,26.375915,28.610982
min,1.000000,2011-01-01 00:00:00,2011-01-03 00:00:00,1040.000000,0.444000,1.000000,0.000000,0.000000,-6599.978000
25%,12823.250000,2012-06-19 00:00:00,2012-06-23 00:00:00,23223.000000,30.758625,2.000000,0.000000,2.610000,0.000000
50%,25645.500000,2013-07-08 00:00:00,2013-07-12 00:00:00,56430.500000,85.053000,3.000000,0.000000,7.790000,9.240000
75%,38467.750000,2014-05-22 00:00:00,2014-05-26 00:00:00,90008.000000,251.053200,5.000000,0.200000,24.450000,36.810000
max,51290.000000,2014-12-31 00:00:00,2015-01-07 00:00:00,99301.000000,22638.480000,14.000000,0.850000,933.570000,8399.976000
std,14806.263170,NaN,NaN,32063.693350,487.565361,2.278766,0.212280,57.296804,174.340972

In [ ]:
# Check number of missing values per column
print(df.isnull().sum())

ROW ID                0
Order ID              0
Order Date            0
Ship Date             0
Ship Mode             0
Customer ID           0
Customer Name         0
Segment               0
City                  0
State                 0
Country               0
Market                0
Postal Code       41296
Region                0
Product ID            0
Category              0
Sub-Category          0
Product Name          0
Sales                 0
Quantity              0
Discount              0
Shipping Cost         0
Profit                0
Order Priority        0
dtype: int64

In [ ]:
# Check presentase Missing Value of Postal Code
persentase_postal_code = df['Postal Code'].isnull().sum() * 100 / len(df)
persentase_postal_code

np.float64(80.51472021836615)

In [ ]:
# Drop Postal Code because Missing Value more than 20%
df = df.drop('Postal Code', axis=1)

In [ ]:
# Check Unique Values in every coloums
unique_values_per_column = df.apply(lambda x: x.unique())
print(unique_values_per_column)

ROW ID            [26341, 25330, 13524, 47221, 22732, 30570, 311...
Order ID          [CA-2012-124891, IN-2013-77878, IN-2013-71249,...
Order Date        [2012-07-31 00:00:00, 2013-02-05 00:00:00, 201...
Ship Date         [2012-07-31 00:00:00, 2013-02-07 00:00:00, 201...
Ship Mode         ['Same Day', 'Second Class', 'First Class', 'S...
Customer ID       [RH-19495, JR-16210, CR-12730, KM-16375, RH-94...
Customer Name     [Rick Hansen, Justin Ritter, Craig Reiter, Kat...
Segment           ['Consumer', 'Corporate', 'Home Office']
Categ...
City              ['New York City', 'Wollongong', 'Brisbane', 'B...
State             ['New York', 'New South Wales', 'Queensland', ...
Country           ['United States', 'Australia', 'Germany', 'Sen...
Market            ['US', 'APAC', 'EU', 'Africa', 'EMEA', 'LATAM'...
Region            ['East', 'Oceania', 'Central', 'Africa', 'West...
Product ID        [TEC-AC-10003033, FUR-CH-10003950, TEC-PH-1000...
Category          ['Technology', 'Furniture', 'Office Supplies']...
Sub-Category      ['Accessories', 'Chairs', 'Phones', 'Copiers',...
Product Name      [Plantronics CS510 - Over-the-Head monaural Wi...
Sales             [2309.65, 3709.395, 5175.171, 2892.51, 2832.96...
Quantity            [7, 9, 5, 8, 4, 6, 13, 12, 14, 10, 2, 11, 3, 1]
Discount          [0.0, 0.1, 0.2, 0.4, 0.15, 0.3, 0.5, 0.17, 0.4...
Shipping Cost     [933.57, 923.63, 915.49, 910.16, 903.04, 897.3...
Profit            [762.1845, -288.765, 919.971, -96.54, 311.52, ...
Order Priority    ['Critical', 'Medium', 'High', 'Low']
Categori...
dtype: object

In [ ]:
# Check duplicates
df.duplicated().sum()

np.int64(0)

In [ ]:
# Save the DataFrame to a CSV file
df.to_csv('cleaned_E-commerce_website_sales_analysis.csv', index=False)

# Download the file to your local computer
files.download('cleaned_E-commerce_website_sales_analysis.csv')